html,
body {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  background-color: #fcca4c;
  text-align: center;
  color: rgba(0, 0, 0, 0.779);
}

.space {
  height: 150svh;
}

.title {
  font-size: 4rem;
  padding: 2rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.button {
  background-color: #fbcc57;
  border: 1.5rem solid #ffb700;
  border-radius: 1rem;
  padding: 2.6rem;
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 100px;
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  transition: 200ms;
}

.button:hover {
  background-color: #fbcc57;
  border: 1.8rem solid #ffb700;
  border-radius: 1rem;
  padding: 2.6rem;
  font-size: 2.7rem;
  font-weight: 800;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 100px;
  box-shadow: 0px 0px 74px -25px rgba(0, 0, 0, 0.75);
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
}

h3 {
  padding-top: 4rem;
}

.selection {
  text-align: center;
  display: flex;
  width: 75%;
  justify-content: space-around;
  margin: 3rem auto;
}

.radio {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
  margin-bottom: 0.2rem;
  accent-color: #ffb700;
}

.threepoint {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

input[type="text"] {
  padding: 1rem;
  border: 0px;
  background-color: #ffb700;
  border-radius: 1rem;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Courier New', Courier, monospace;
  outline: none;
}